/* Ignore "Unknown at rule @tailwind" warning */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  /* Dark Mode */
  --color-primary: rgba(82, 82, 82, 1); /* "#525252" */
  --color-secondary: rgba(65, 65, 65, 1); /* "#414141" */
  --color-ternary: rgba(49, 49, 49, 1); /* "#313131" */
  --color-danger: rgba(202, 62, 71, 1); /* "#CA3E47" */
  --color-hardgrey: rgba(102, 102, 102, 1); /* "#666666" */
  --color-mediumgrey: rgba(127, 127, 127, 1); /* "#7F7F7F" */
  --color-lightgrey: rgba(153, 153, 153, 1); /* "#999999" */
  --color-neu-shadow-start: rgba(60, 60, 60, 1); /* "#3C3C3C" */
  --color-neu-shadow-end: rgba(70, 70, 70, 1); /* "#464646" */
  --color-neu-circle: linear-gradient(
    145deg,
    var(--color-neu-shadow-start),
    var(--color-neu-shadow-end)
  );
  background-color: var(--color-secondary);
  --neu-shadow: 9px 9px 20px var(--color-neu-shadow-start),
    -9px -9px 20px var(--color-neu-shadow-end);
  --neu-inset-shadow: inset 9px 9px 20px var(--color-neu-shadow-start),
    inset -9px -9px 20px var(--color-neu-shadow-end);
}

html,
body {
  margin: 0;
  height: 100vh;
}

.neu-rectangle {
  background: var(--color-secondary);
  box-shadow: var(--neu-shadow);
}

.neu-circle {
  background: var(--color-neu-circle);
  box-shadow: var(--neu-shadow);
}

.neu-inset {
  box-shadow: var(--neu-inset-shadow);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
